<html>
  <head>
    <meta charset="utf-8">
    <title>Where To?</title>
    <link rel='icon' type='image/png' href='static/favicon.png'>
	  <link rel='stylesheet' href='static/build/bundle.css'>

	  <script defer src='static/build/bundle.js'></script>
  </head>
  <my-element name="{{.}}"></my-element>
  <body>
    welcome to theta poc
    <br>
    {{if . }}
      hello {{.}}!
      <br>
      <a href="/upload" id="uploadButton">upload video</a>
      <br>
    {{end}}
    {{if . }}
    <a href="/logout">logout</a>
    <br>
    {{else}}
    <a href="/login">login</a>
    <br>
    <a href="/register">register</a>
    <br>
    {{end}}
    <a href="/videos">watch uploaded videos</a>

  </body>
</html>

<script>
</script>
