<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Where To?</title>
  </head>
  <body>
    welcome to theta poc
    <br>
    {{if . }}
      hello {{.}}!
      <br>
      <a href="/upload" id="uploadButton">upload video</a>
      <br>
    {{end}}
    {{if . }}
    <a href="/logout">logout</a>
    <br>
    {{else}}
    <a href="/login">login</a>
    <br>
    <a href="/register">register</a>
    <br>
    {{end}}
    <a href="/videos">watch uploaded videos</a>

  </body>
</html>

<script>
</script>
