<!DOCTYPE html>
<html>
<head>
   <link rel='icon' type='image/png' href='/static/favicon.png'>
   <link rel='stylesheet' href='/static/build/bundle.css'>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <script defer src='/static/build/bundle.js'></script>
   <title>Theta blockchain-based hybrid CDN</title>


</head>
<body>
   <play-video videos={{.}} ></play-video>
</body>


<script>
</script>
<style>
   body, html {
      margin: 0;
      height: 100%;
   }
</style>