{{define "upload"}}
<html>

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
   <div
      class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
      style="background-image: url(https://images.unsplash.com/photo-1621243804936-775306a8f2e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
      <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
      <div class="sm:max-w-lg w-full p-10 bg-white rounded-xl z-10">
         <div class="text-center">
            <h2 class="mt-5 text-3xl font-bold text-gray-900">
               Upload Video
            </h2>
            <p class="mt-2 text-sm text-gray-400">Upload video to theta video api</p>
         </div>
         <iframe name="frame" style="display:none"></iframe>
         <form id="uploadForm" class="mt-8 space-y-3" target="frame">
            <div class="grid grid-cols-1 space-y-2">
               <label class="text-sm font-bold text-gray-500 tracking-wide">Video Name</label>
               <input id="videoName" name="videoName" class="text-base p-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500"
                  type="text" required>
            </div>
            <div class="grid grid-cols-1 space-y-2">
               <label class="text-sm font-bold text-gray-500 tracking-wide">Video File</label>
               <div class="flex items-center justify-center w-full">
                  <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
                     <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                        <div id="thumbnail" class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">

                        </div>
                        <p class="pointer-none text-gray-500 "><span class="text-sm">Drag and drop</span> files here
                           <br />
                           or <a href="" id="" class="text-blue-600 hover:underline">select a file</a> from your
                           computer
                        </p>
                     </div>
                     <input type="file" id="file" name="video_file" class="hidden">
                  </label>
               </div>
            </div>
            <p class="text-sm text-gray-300">
               <span>File type: mp4</span>
            </p>
         </form>
         <div id="buttonDiv">
            <button id="buttonElement" type="submit"
               class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
               font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
               Upload
            </button>
         </div>
      </div>
   </div>
</body>

</html>

<script>
   console.log("we're doing it")
   /*
   var testButton = document.getElementById("testButton")
   testButton.addEventListener("click", event => {
     getUploadStatus()
   })
   */
   var videoID = ""
   var data = 0
   var num = 0
   var timeoutID
   var isComplete = false
   var newProgressBarDiv = document.createElement("div")
   var newButtonDiv = document.createElement("div")
   var newLoadingSpinnerDiv = document.createElement("div")
   var buttonDiv = document.getElementById("buttonDiv")
   var uploadForm = document.getElementById("uploadForm")
   var file
   var fileLength
   var formData = new FormData()
   var button = document.getElementById("buttonElement")
   var reader = new FileReader();
   var loadingSpinnerRemoved = false

   //console.log(file)
   // set file variables
   /*
   document.getElementById("file").onchange = function(e) {
      //e.preventDefault()
      file = (e.target).files[0];
      reader.readAsArrayBuffer(file);
      fileLength = (e.target).files.length
      console.log(file.name, fileLength)
      console.log(file)

      reader.onload = function(evt) {
         //new Blob([fileAsArray], {type: "image/jpg"}
         formData.append("video_file", file)
         //formData.append("video_file", new Blob([evt.target.result], {type: "video"}))
      }
      //rest of your code...
   }
   */

   async function uploadFormData() {
      let response = await fetch("http://localhost:8001/upload", {
         method: "POST",
         //jsonData: content.join(''),
         body: formData
      })
      //console.log(response.status)
      //console.log(response.statusText)
      let result = await response.text();
      videoID = result
      console.log(videoID)
      return
   }

   button.addEventListener("click", event => {
      //var file = document.getElementById("file").files[0]
      //event.preventDefault()
      fileObject = document.getElementById("file")
      videoName = document.getElementById("videoName").value
      file = fileObject.files[0]
      //reader.readAsArrayBuffer(file);
      fileLength = fileObject.files.length
      console.log(file.name, fileLength)
      console.log(file)
      formData.append("videoFile", file)
      formData.append("videoName", videoName)
      formData.append("fileName", file.name)

      console.log(fileLength)
      if (fileLength == 0) {
         alert("no file selected")
         console.log("no file selected")
         return
      }

      uploadFormData()
      removeButton()
      addLoadingSpinner()
      //addProgressBar()
      //var loadingSpinnerDiv = document.getElementById("loadingSpinnerDiv")
      //var loadingSpinner = document.getElementById("loadingSpinner")
      getUploadStatus()
   })


   function addLoadingSpinner() {
      newLoadingSpinnerDiv.setAttribute("id", "loadingSpinnerDiv")
      newLoadingSpinnerDiv.setAttribute("class", "flex items-center justify-center")

      newLoadingSpinnerDiv.innerHTML = `
         <div id="loadingSpinner" class="w-16 h-16 border-b-2 border-gray-900 rounded-full animate-spin"></div>
         `
      uploadForm.appendChild(newLoadingSpinnerDiv)

      console.log("parent node", newLoadingSpinnerDiv.parentNode)
   }
   function removeLoadingSpinner() {
      newLoadingSpinnerDiv.remove(newLoadingSpinnerDiv)

   }

   function addButton() {
      newButtonDiv.setAttribute("id", "buttonDiv")
      newButtonDiv.innerHTML = `
            <button id="buttonElement" type="submit"
               class="my-5 w-full flex justify-center bg-blue-500 text-gray-100 p-4  rounded-full tracking-wide
               font-semibold  focus:outline-none focus:shadow-outline hover:bg-blue-600 shadow-lg cursor-pointer transition ease-in duration-300">
               Upload
            </button>`
      uploadForm.appendChild(newButtonDiv)

   }
   function removeButton() {
      buttonDiv.parentNode.removeChild(buttonDiv)

   }

   function addProgressBar() {
      newProgressBarDiv.setAttribute("id", "progressBarDiv")
      newProgressBarDiv.setAttribute("class", "h-3 relative max-w-xl rounded-full overflow-hidden")
      newProgressBarDiv.innerHTML = `
      <div class="w-full h-full bg-gray-200 absolute"></div>
      <div id="progressBar" class="transition-all ease-out duration-1000 h-full bg-green-500 relative w-0"></div>`


      uploadForm.appendChild(newProgressBarDiv)

   }
   function removeProgressBar() {
      newProgressBarDiv.parentNode.removeChild(newProgressBarDiv)
   }
   async function getUploadStatus() {
      const response = await fetch("http://localhost:8001/getUploadStatus/" + videoID);
      const status = await response.status
      const data = await response.text();

      console.log(status)
      console.log(data)
      if (status == 200) {
         if (loadingSpinnerRemoved == false) {
            loadingSpinnerRemoved = true
            removeLoadingSpinner()
         }
         addProgressBar()
         var progressBarDiv = document.getElementById("progressBarDiv")
         var progressBar = document.getElementById("progressBar")
         progressBar.setAttribute("value", data)
         progressBar.style.width = data + "%"


         if (data == 100) {
            console.log(data)
            progressBar.setAttribute("value", data)
            progressBar.style.width = data + "%"

            //remove progress bar
            removeProgressBar()
            //add button back
            addButton()
            console.log("video has been uploaded and is ready to play!")
            alert("video has been uploaded and is ready to play!")

            clearTimeout(timeoutID)
            window.location = "/videos"
            return
         } else {
            timeoutID = setTimeout(getUploadStatus, 1000)
         }
      } else if (status == 404) {
         //loadingSpinnerRemoved = false
         timeoutID = setTimeout(getUploadStatus, 1000)
      } else if (status == 501) {
         console.log("error transcoding video. Please refresh page and try again.")
         alert("error transcoding video. Please refresh page and try again.")
      }

   }
   document.getElementById('file').addEventListener('change', function (event) {
      var thumbnail = document.getElementById("thumbnailImg")
      if (thumbnail != null) {
         thumbnail.remove()
      }
      var file = event.target.files[0];
      var fileReader = new FileReader();
      if (file.type.match('image')) {
         fileReader.onload = function () {
            var img = document.createElement('img');
            img.src = fileReader.result;
            document.getElementById('thumbnail').appendChild(img);
            img.id = "thumbnailImg"
            img.className = "has-mask h-36 object-center"
         };
         fileReader.readAsDataURL(file);
      } else {
         fileReader.onload = function () {
            var blob = new Blob([fileReader.result], { type: file.type });
            var url = URL.createObjectURL(blob);
            var video = document.createElement('video');
            var timeupdate = function () {
               if (snapImage()) {
                  video.removeEventListener('timeupdate', timeupdate);
                  video.pause();
               }
            };
            video.addEventListener('loadeddata', function () {
               if (snapImage()) {
                  video.removeEventListener('timeupdate', timeupdate);
               }
            });
            var snapImage = function () {
               var canvas = document.createElement('canvas');
               canvas.width = video.videoWidth;
               canvas.height = video.videoHeight;
               canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
               var image = canvas.toDataURL();
               var success = image.length > 100000;
               if (success) {
                  var img = document.createElement('img');
                  img.src = image;
                  img.id = "thumbnailImg"
                  img.className = "has-mask h-36 object-center"
                  document.getElementById("thumbnail").appendChild(img);
                  URL.revokeObjectURL(url);
               }
               return success;
            };
            video.addEventListener('timeupdate', timeupdate);
            video.preload = 'metadata';
            video.src = url;
            // Load video in Safari / IE11
            video.muted = true;
            video.playsInline = true;
         };
         fileReader.readAsArrayBuffer(file);
      }
   });
</script>
{{end}}

{{template "upload"}}
<style>
   .has-mask {
      position: absolute;
      clip: rect(10px, 150px, 130px, 10px);
   }
</style>