/* ----- BODY ----- */
body 
{
  background-color: lightblue;
  background-image: url("http://www.wallpapersshock.com/uploads/large/3d-animation/free-images-cool-hd-3d-download-pc-android-mobile-wallpapers-windows-7-name-nature-animation.jpg");
}

.row {
  padding-top: .5em;
  padding-bottom: .5em;
}
